.sidebar-toggle {
    position: fixed;
    top: 2rem;
    right: 3rem;
    background: transparent;
    border-color: transparent;
}

.nav {
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0eeee;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.nav-open {
    left: 0
}

.nav-closed {
    left: -320px;
}

.nav-button {
    z-index: 2
}

.sidebar-toggle span {
    font-size: 2.5rem;
}

.sidebar-toggle :hover {
    color: rgb(65, 63, 63)
}

.links {
    display: block;
    font-size: 1.1rem;
    text-transform: capitalize;
    padding: 0.4rem 1.5rem;
    color: black;
    transition: all 0.3s linear;

}

.nav-button {
    border: none;
}

.links :hover {

    font-size: 0.9rem;

}

.sidebar-link-flex {
    display: flex;
    text-decoration: none;
    color: black;
    gap: 5px
}

.sidebar-link-flex span {
    font-size: 1.2rem;
}

.logo {
    font-size: 0.7rem;
    margin: 10px auto;
    margin-bottom: 30px;
}