.single-location-title {
    display: flex;
    justify-content: center;
    margin: 20px;

}

.single-location-card {
    margin: 20px auto;
    width: 700px;
    height: 400px;
    padding: 0 0 0 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);
    background: #FFF;
    border-radius: 10px;

}

.single-location-card:hover .card-body {
    opacity: 0.7;
    margin-top: 0
}

.create-button {
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: black;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .13);
    border: none;
    transition: all .4s ease;
    outline: 0;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
}

.create-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px;
}

.events-card {
    margin: 20px auto;
    width: 700px;
    height: 100px;
    padding: 0 0 0 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);
    background: #FFF;
    border-radius: 10px;
    transition: 0.3s;

}

.events-card:hover {
    background: #f0eeee;


}

.events-card-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

.events-card-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

.events-card-title {
    color: black
}

.events-card-p {
    color: black;
    font-size: 0.8rem;
    margin-top: 10px;
}

.skateboy-bottom {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.span-blue {
    color: rgb(64, 64, 232);
    ;
}

.span-blue:hover {
    color: rgb(117, 167, 248);


}

.attending-user-p {
    font-size: 0.6rem;

}

.attending-user-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.attending-list-flex {
    display: flex;
    flex-direction: row;
}

/* Responsive  */

@media (max-width: 1130px) {

    .single-location-card {
        margin: 20px auto;
        width: 500px;
        height: 500px;
        padding: 0 0 0 0;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);
        background: #FFF;
        border-radius: 10px;

    }

    .events-card {
        margin: 20px auto;
        width: 500px;
        height: 100px;
        padding: 0 0 0 0;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);
        background: #FFF;
        border-radius: 10px;
        transition: 0.3s;

    }
}

@media (max-width: 818px) {

    .single-location-card {
        margin: 20px auto;
        width: 300px;
        height: 440px;
        padding: 0 0 0 0;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);
        background: #FFF;
        border-radius: 10px;

    }

    .events-card {
        margin: 7px auto;
        width: 390px;
        height: 80px;
        padding: 0 0 0 0;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);
        background: #FFF;
        border-radius: 10px;
        transition: 0.3s;

    }

    .events-card-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px;
        object-fit: cover;
    }


    .single-location-title {
        display: flex;
        justify-content: center;
        margin: 20px;
        font-size: 1rem;

    }

    .events-card-flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

    }

    .single-location-title {
        display: flex;
        justify-content: center;
        margin: 0px;

    }

    .locations-card-description {
        font-size: 0.7rem;
    }

    .attending-list-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }


}