.single-event-title {
    display: flex;
    justify-content: center;
    margin: 20px;

}

.event-card {
    margin: 0px auto;
    width: 700px;
    height: auto;
    padding: 0 0 0 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);
    background: #FFF;
    border-radius: 10px;

}

.event-creator-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

.event-creator-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px;
}

.single-event-img {
    width: 700px;
    height: 400px;
    object-fit: cover;
}

.event-title-card {
    margin: 20px
}

.event-title-p {
    margin: 20px 20px 10px 20px;
}

.rsvp-button {
    /* width: auto; */
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 10px 4px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .13);
    border: none;
    transition: all .4s ease;
    outline: 0;
    margin: 10px 20px;
}

.rsvp-button:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 2px 6px -1px;
}

.attending-modal-button {
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 10px 4px;
    background-color: #000000;
    color: rgb(248, 248, 248);
    font-size: 8px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .13);
    border: none;
    transition: all .4s ease;
    outline: 0;
    margin: 0px 20px;

}

.attending-modal-button:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 2px 6px -1px;
}

.modal-line {
    border-top: solid 1px rgb(64, 64, 232);
    margin-bottom: 50px;
}

.modal-content-title {
    display: flex;
    margin: 10px;
    font-size: 1.5rem;

}

.event-info-card {
    background-color: #f0eeee;
    margin: 20px;
    padding: 0.5px 0px;
    border-radius: 10px;
}


/* Responsive  */

@media (max-width: 1130px) {

    .event-card {
        margin: 0px auto;
        width: 500px;
        height: auto;
        padding: 0 0 0 0;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);
        background: #FFF;
        border-radius: 10px;

    }

    .single-event-img {
        width: 500px;
        height: 400px;
        object-fit: cover;
    }


}

@media (max-width: 390px) {

    .event-card {
        margin: 0px auto;
        width: 390px;
        height: auto;
        padding: 0 0 0 0;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);
        background: #FFF;
        border-radius: 10px;

    }

    .single-event-img {
        width: 390px;
        height: 400px;
        object-fit: cover;
    }

    .single-event-title {
        display: flex;
        justify-content: center;
        margin: 20px;
        font-size: 1rem;

    }

    .event-creator-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px;
        object-fit: cover;
    }

    .modal-content-title {
        display: flex;
        margin: 10px;
        font-size: 1rem;

    }



}